.Header {
  display: flex;
  justify-content: center;
  background-color: #80C26A;
}

.Header-inner {
  flex-grow: 1;
  max-width: 1024px;
  padding: 0 10px;
}

.Header-title,
.Header-subTitle {
  color: #FFF;
}
